<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container-fluid">
  <div class="row">
  <% @products.each do |product| %>
    <div class="col-sm">
      <h1><%= link_to product.name, product_path(product) %></h1>
      <%= image_tag("prod.jpg", class: "img-fluid prod-img") %>
      <p><%= product.description %></p>
      <strong><%= product.price %></strong>
      <%= link_to 'View', product_path(product) %>  
    </div><!-- /col -->
  <% end %>
  </div>
</div>



<%= link_to 'New Product', new_product_path %>
