<!DOCTYPE html>
<html>
  <head>
    <title>Qwerty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <!-- Navbar content -->
      <div class= "container navstyle">
        <a><%= link_to "Home", root_path %></a>
        <a><%= link_to "About", simple_pages_about_path %></a>
        <a><%= link_to "Contact", simple_pages_contact_path %></a>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
      </div>
    </nav>
    
    <%= yield %>
    <footer class="foot-below">
      &copy; 2018 Bike Berlin
    </footer>
  </body>
</html>
